{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="w-full p-6 flex flex-col">
    <div class="pt-3 flex flex-col items-center justify-between">
        {% thumbnail product.image "400x400" crop="center" as im %}
        <img class="hover:grow hover:shadow-lg" src="{{ im.url }}">
        {% endthumbnail %}
        <p class="">{{ product.name }}</p>
        <p class="">{{ product.description }}</p>
        <p>Категория: <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></p>
        <p class="pt-1 text-gray-900">£{{ product.price }}</p>

    </div>
</div>

{% endblock %}